@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Retro Signed";
  src: local("Retro"),
    url("./Font/Retro Signed.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Flareserif";
  src: local("Flare"),
    url("./Font/Flareserif 821 Bold.otf") format("opentype");
  font-weight: BOld;
}

.swiper-pagination {
  position: relative !important;
  bottom: -20px !important;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  background: #B81033 !important;
  width: 10px !important;
  height: 10px !important;
  margin: 0 5px !important;
}

.swiper-pagination-bullet-active {
  background: #FEEED6 !important;
}

@font-face {
  font-family: Cyberway Riders;
  src: url("../src/assets/Cyberway Riders.otf") format("opentype");
}

@font-face {
  font-family: Village;
  src: url("../src/assets/Village.ttf") format("opentype");
}

html, body {
  overflow-x: hidden;
}
 
body {
  position: relative;
}

.embla {
  --slide-spacing: 0.5rem;
  --slide-size: 100%;
  --slide-height: 19rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex-wrap: wrap;
  min-width: 380px;
  padding-left: var(--slide-spacing);
  position: relative;
}
